.gradle
.idea
build
out
gradlew
gradlew.bat
src/main/generated
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

src/main/resources/application-prod.yml
